---
name: "Publish to NPM"
on:
  release:
    types:
      - "published"

jobs:
  publish:
    name: Publish to NPM
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      
      - uses: actions/setup-node@v6
        with:
          cache-dependency-path: ./yarn.lock
          cache: "yarn"
          node-version: 20
      
      - uses: bahmutov/npm-install@v1
        with:
          useLockFile: false
      
      - name: Build
        run: yarn build
      
      - name: Write release version
        run: |
          VERSION=${GITHUB_REF_NAME#v}
          echo Version: $VERSION
          echo "VERSION=$VERSION" >> $GITHUB_ENV
      
      - run: "npm version ${VERSION} --no-git-tag-version"
      
      - uses: JS-DevTools/npm-publish@v4
        with:
          token: ${{ secrets.NPM_TOKEN }}
          access: public
